<div class="mb-2 w-full">
  <label class="block text-md font-medium text-gray-900 mb-2">
    {{ field.getPropValue(PropType.LABEL) }}
  </label>
  <div class="flex space-x-4">
    <!-- Hidden date input (for validation) -->
    <!-- Month -->
    <div class="w-1/3">
      <label for="month" class="block mb-1 text-sm font-medium text-gray-500">Month</label>
      <select
        id="month"
        class="w-full mt-1 block bg-gray-50 p-3 border-1 border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500 placeholder:text-gray-400"
        (input)="selectMonth($event)"
      >
        <option value="" disabled selected>Select month</option>
        @for (month of months(); track $index) {
        <option [disabled]="selectedYear() === thisYear() && $index > thisMonth()" [value]="$index">
          {{ month }}
        </option>
        }
      </select>
    </div>
    <!-- Day -->
    <div class="w-1/3">
      <label for="day" class="block mb-1 text-sm font-medium text-gray-500">Day</label>
      <select
        id="day"
        class="w-full mt-1 block bg-gray-50 p-3 border-1 border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500 placeholder:text-gray-400"
        (input)="selectDay($event)"
      >
        <option value="" disabled selected>Select day</option>
        @for (day of days(); track $index) {
        <option
          [value]="day"
          [disabled]="
            selectedYear() === thisYear() && selectedMonth() === thisMonth() && day > today()
          "
        >
          {{ day }}
        </option>
        }
      </select>
    </div>
    <!-- Year -->
    <div class="w-1/3">
      <label for="year" class="block mb-1 text-sm font-medium text-gray-500">Year</label>
      <select
        id="year"
        class="w-full mt-1 block bg-gray-50 p-3 border-1 border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500 placeholder:text-gray-400"
        (input)="selectYear($event)"
      >
        <option value="" disabled selected>Select year</option>
        @for (year of years(); track $index) {
        <option [value]="year">{{ year }}</option>
        }
      </select>
    </div>
  </div>
</div>
<div [formGroup]="formGroupIn">
  <input type="date" [formControlName]="field.fieldId" class="hidden" />
</div>
