<div
  class="flex flex-col gap-2 mb-4"
  (mouseenter)="dragDisabled$.set(true)"
  (mouseleave)="dragDisabled$.set(false)"
>
  <!-- Title -->
  <span class="px-4 py-1 text-xs uppercase text-gray-400">Date range options</span>
  <!-- Choose preset -->
  <!-- Show or hide below, set 'today' -->
  <div class="px-4 py-1 text-sm rounded-[20px] bg-gray-100/75 border border-gray-300">
    <div class="min-h-8 text-gray-700 flex justify-between items-center">
      <span class>Date range</span>
      <select
        class="px-[2px] py-[4px] rounded-md border-2 border-gray-200 focus:outline-none"
        [value]="selectValue$()"
        (change)="setSelectValue($event)"
        [disabled]="!editable"
      >
        <option value="mixed">Custom range</option>
        <option value="past">Past dates only</option>
        <option value="future">Future dates only</option>
      </select>
    </div>
  </div>
  <!-- Start date -->
  @if (showStart$()) {
    <div class="px-4 py-1 text-sm rounded-[20px] bg-gray-100/75 border border-gray-300">
      <div class="min-h-8 text-gray-700 flex justify-between items-center">
        <span>Earliest possible date <span class="text-gray-500">(MM-DD-YYYY)</span></span>
        <input
          class="px-[4px] py-[1px] rounded-md border-2 border-gray-200 focus:outline-none"
          type="date"
          [value]="minDate$()"
          (input)="minDate$.set($event.target.value)"
          [disabled]="!editable"
        />
      </div>
    </div>
  }
  <!-- End date -->
  @if (showEnd$()) {
    <div class="px-4 py-1 text-sm rounded-[20px] bg-gray-100/75 border border-gray-300">
      <div class="min-h-8 text-gray-700 flex justify-between items-center">
        <span class>Latest possible date <span class="text-gray-500">(MM-DD-YYYY)</span></span>
        <input
          class="px-[4px] py-[1px] rounded-md border-2 border-gray-200 focus:outline-none"
          type="date"
          [value]="maxDate$()"
          (input)="maxDate$.set($event.target.value)"
          [disabled]="!editable"
        />
      </div>
    </div>
  }
</div>
