<div class="flex items-center mb-2">
  <div class="w-full relative mb-1">
    <!-- <input
      type="text"
      class="block w-full rounded-full bg-gray-200 px-3 py-2 text-md font-medium text-gray-900 placeholder:text-gray-500 transition-all duration-200 ease-out focus:outline-none focus:bg-white focus:shadow-md focus:ring-2 focus:ring-blue-400"
      [ngClass]="{
        'ring-2 ring-red-300 focus:ring-red-300': showErrorMessages$(),
      }"
      [placeholder]="labelMessage"
      formControlName="label"
      (mouseenter)="dragDisabled$.set(true)"
      (mouseleave)="dragDisabled$.set(false)"
      (keydown.enter)="endEdit($event)"
      [maxlength]="maxCount"
    /> -->
    <textarea
      rows="3"
      class="peer block w-full resize-none rounded-2xl bg-gray-200 px-3 py-2 text-md font-medium text-gray-700 placeholder:text-gray-500 transition-all duration-200 ease-out focus:outline-none focus:bg-gray-100 focus:shadow-md ring-2 focus:ring-blue-400"
      [ngClass]="{ 'ring-red-300': showRequiredError$() }"
      [placeholder]="labelMessage"
      [maxlength]="maxCount"
      formControlName="label"
      (mouseenter)="dragDisabled$.set(true)"
      (mouseleave)="dragDisabled$.set(false)"
      (keydown.enter)="endEdit($event)"
    ></textarea>
    <div
      class="absolute bottom-2 right-3 text-xs text-gray-400 select-none invisible peer-focus:visible"
    >
      {{ currentCount }} / {{ maxCount }}
    </div>
  </div>
  @if (controlDisabled) {
    <div
      class="ml-2 flex items-center px-2 text-red-400 text-xs uppercase rounded-full whitespace-nowrap"
    >
      Preset label
    </div>
  } @else {
    <div
      class="ml-2 flex items-center px-2 text-green-500 text-xs uppercase rounded-full whitespace-nowrap"
    >
      Editable label
    </div>
  }
</div>
<!-- Required error message -->
@if (showRequiredError$()) {
  <div class="px-3 text-sm font-medium text-red-400 transition-all duration-200 ease-out">
    {{ requiredErrorMessage }}
  </div>
}
<!-- <div
  class="px-3 text-xs text-red-600 mt-2 mb-2 transition-all duration-200 ease-out"
  [class.opacity-0]="!showLengthMessage$()"
  [class.translate-y-1]="!showLengthMessage$()"
>
  {{ showLengthMessage$() ? 'Maximum length reached' : '' }}
</div> -->
