<div class="flex flex-col">
  <!-- Label -->
  <app-builder-prop-label [labelMessage]="'Ask your responder a question...'" />
  <!-- Reactivity Test -->
  <!-- <div>
    {{
      `MIN: ${this.field.getPropValue(PropType.DATERANGE)?.min}, MAX: ${this.field.getPropValue(PropType.DATERANGE)?.max}`
    }}
  </div> -->
  <!-- Preview -->
  <div class="hidden">
    <span class="px-4 py-1 text-xs uppercase text-gray-400">Preview</span>
    <div class="flex space-x-4 px-4 py-1">
      <!-- Hidden date input (for validation) -->
      <!-- Month -->
      <div class="w-1/3">
        <label for="month" class="block mb-1 ml-2 text-sm text-gray-500">Month</label>
        <select
          id="month"
          class="w-full block bg-gray-50 p-2 border-1 border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500 placeholder:text-gray-400"
          (input)="setSelectedDay($event)"
        >
          <option value="" disabled selected>Select month</option>
          @for (month of monthOptions; track $index) {
            <option
              [disabled]="selectedYear() === currentYear() && $index > currentMonth()"
              [value]="$index"
            >
              {{ month }}
            </option>
          }
        </select>
      </div>
      <!-- Day -->
      <div class="w-1/3">
        <label for="day" class="block mb-1 ml-2 text-sm text-gray-500">Day</label>
        <select
          id="day"
          class="w-full block bg-gray-50 p-2 border-1 border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500 placeholder:text-gray-400"
          (input)="setSelectedMonth($event)"
        >
          <option value="" disabled selected>Select day</option>
          @for (day of dayOptions(); track $index) {
            <option
              [value]="day"
              [disabled]="
                selectedYear() === currentYear() &&
                selectedMonth() === currentMonth() &&
                day > currentDay()
              "
            >
              {{ day }}
            </option>
          }
        </select>
      </div>
      <!-- Year -->
      <div class="w-1/3">
        <label for="year" class="block mb-1 ml-2 text-sm font-medium text-gray-500">Year</label>
        <select
          id="year"
          class="w-full block bg-gray-50 p-2 border-1 border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500 placeholder:text-gray-400"
          (input)="setSelectedYear($event)"
        >
          <option value="" disabled selected>Select year</option>
          @for (year of yearOptions(); track $index) {
            <option [value]="year">{{ year }}</option>
          }
        </select>
      </div>
    </div>
  </div>
  <!-- Validation -->
  <app-builder-validation [node]="node" />
  <app-builder-validation-daterange [node]="node" (triggerChangeEMIT)="setYearOptions()" />
</div>
