<!-- TOP LABEL ("Address") -->
<label class="block text-md font-medium text-gray-900 mb-2">
  {{ group.label }}
</label>
<div class="grid grid-cols-2 gap-4">
  @for (field of group.fields; track $index) {
  <!-- TEXT FIELD FOR STREET AND CITY -->
  @if (field.fieldType === FieldType.TEXT && isTextField(field)) {
  <div class="col-span-2">
    <label [for]="field.fieldId" class="w-full block text-md font-medium text-gray-500">
      {{ field.label }}
    </label>
    <input
      [id]="field.fieldId"
      type="text"
      class="w-full mt-1 block bg-gray-50 p-2 pr-14 border border-gray-300 rounded-md focus:ring-gray-500 focus:border-gray-500 placeholder-gray-400"
      [placeholder]="field.placeholder"
      [attr.maxlength]="field.maxLength"
    />
  </div>
  }
  <!-- SELECT FIELD FOR GOVERNORATE AND DISTRICT -->
  @if (field.fieldType === FieldType.SELECT && isSelectField(field)) {
  <div>
    <label class="block text-md font-medium text-gray-500"> {{ field.label }} </label>
    <!-- GOVERNORATE (FIXED OPTIONS) -->
    @if (field.options.length > 0) {
    <select
      (input)="toggleDistrict($event)"
      class="w-full mt-1 block bg-gray-50 p-2 border-1 border-gray-300 rounded-md focus:ring-gray-500 focus:border-gray-500 placeholder:text-gray-400"
    >
      <option [value]="null" disabled selected class="text-gray-800">
        {{ field.placeholder && field.placeholder.length > 0 ? field.placeholder : '---' }}
      </option>
      @for (option of field.options; track $index) {
      <option [value]="option.value" class="text-gray-800">
        {{ option.label }}
      </option>
      }
    </select>
    <!-- DISTRICT (DYNAMIC OPTIONS) -->
    } @else {
    <select
      class="w-full mt-1 block bg-gray-50 p-2 border-1 border-gray-300 rounded-md focus:ring-gray-500 focus:border-gray-500 placeholder:text-gray-400"
    >
      <option [value]="null" disabled selected class="text-gray-800">
        {{ field.placeholder && field.placeholder.length > 0 ? field.placeholder : '---' }}
      </option>
      @for (district of districts(); track $index) {
      <option [value]="district.value" class="text-gray-800">
        {{ district.name }}
      </option>
      }
    </select>
    }
  </div>
  }}
</div>
