<div
  class="flex flex-col gap-4 p-4 border-2 border-dashed border-gray-400/50 rounded-2xl bg-gray-200"
  cdkDrag
  cdkDragBoundary=".main-component"
  [cdkDragDisabled]="dragDisabled$()"
>
  <div class="flex justify-between items-center">
    <!-- <div class="text-gray-400 hover:cursor-pointer pl-1">Drag to move</div> -->
    <div class="flex gap-2">
      <div
        class="text-blue-500 hover:cursor-pointer border border-blue-500 px-4 py-2 rounded-full"
        [innerHTML]="GroupLabels[group.groupType]"
      ></div>
      @if (group.groupType === GroupType.RADIO) {
        <div
          (click)="toggleRadioCheckbox_C()"
          class="text-xs flex items-center text-violet-500 hover:bg-violet-100 hover:cursor-pointer border border-violet-500 px-4 py-2 rounded-full"
        >
          Switch to Checkbox
        </div>
      }
      @if (group.groupType === GroupType.CHECKBOX) {
        <div
          (click)="toggleRadioCheckbox_C()"
          class="text-xs flex items-center text-violet-500 hover:bg-violet-100 hover:cursor-pointer border border-violet-500 px-4 py-2 rounded-full"
        >
          Switich to Radio
        </div>
      }
      @if (
        group.groupType === GroupType.RADIO ||
        group.groupType === GroupType.CHECKBOX ||
        group.groupType === GroupType.SELECT
      ) {
        <div class="relative flex">
          <!-- Button -->
          <div
            (click)="floatVisible = !floatVisible"
            class="text-xs flex items-center text-violet-500 hover:bg-violet-100 hover:cursor-pointer border border-violet-500 px-4 py-2 rounded-full"
          >
            <span>Import Options</span>
          </div>
          <!-- Float -->
          @if (floatVisible) {
            <app-option-lists-float
              class="absolute top-full left-0 mt-2 z-50"
              [optionLists]="getOptionLists_C()"
              (optionListEM)="replaceOptions_C($event)"
            ></app-option-lists-float>
          }
        </div>
      }
    </div>
    <button type="button" class="flex" (click)="deleteGroup_C(group.groupId)">
      <app-builder-group-delete />
    </button>
  </div>
  @for (field of group.fields; track $index) {
    <app-builder-field [field]="field" />
  }
</div>
