<div cdkDropListGroup class="max-w-2xl flex flex-col gap-6">
  <div
    cdkDropList
    id="form-drop"
    (cdkDropListDropped)="onDrop($event)"
    (cdkDropListEntered)="hideEmptyMessage$.set(true)"
    (cdkDropListExited)="hideEmptyMessage$.set(false)"
    [cdkDropListAutoScrollDisabled]="false"
    [cdkDropListEnterPredicate]="enterPredicate"
    class="pb-80"
  >
    <!-- Form Title -->
    <app-builder-form-title [formName]="formModel$().formName" />
    <!-- Form Nodes -->
    <div class="">
      @for (node of formModel$().nodes; track node.nodeId) {
        <div
          [formGroup]="getFormGroup(node.nodeId)"
          animate.enter="group-enter-animation"
          animate.leave="group-leave-animation"
          class="mb-4"
        >
          <app-builder-node
            [node]="node"
            [nodeList]="formModel$().nodes"
            [nodeFormGroup]="getFormGroup(node.nodeId)"
            [allFormGroupsIn]="allFormGroups"
            (nodeDeletedEM_N)="nodeDeleteCleanup($event)"
            (groupElementEM)="addGroupElement($event)"
          ></app-builder-node>
        </div>
      }
    </div>
    <!-- Empty form message -->
    @if (!formModel$().nodes.length && !hideEmptyMessage$()) {
      <div
        class="flex justify-center items-center min-h-[300px] w-full text-xl font-[500] text-gray-400 mb-4 p-2 border-2 border-gray-400/50 rounded-xl border-dashed"
        animate.enter="message-enter-animation"
      >
        <span>Drag icons to begin creating a form</span>
      </div>
    }
    <!-- Submit Button -->
    <!-- @if (formModel$().nodes.length > 0) {
    <div class="flex justify-center">
      <button
        type="button"
        (click)="submitForm()"
        class="w-[50%] flex justify-center bg-gray-500 rounded-full p-2 border-2 border-gray-500 text-gray-100 shadow-md"
      >
        <span class="py-2 font-semibold">Generate Form</span>
      </button>
    </div>
  } -->
  </div>
</div>
