<!-- TEXT FIELD -->
@if (field.fieldType === FieldType.TEXT && checkers.isTextField(field)) {
<label [for]="field.fieldId" class="block text-md font-medium text-gray-900 mb-1">
  {{ field.label }}
</label>
<input
  [id]="field.fieldId"
  type="text"
  class="mt-1 block w-full bg-gray-50 p-2 pr-14 border border-gray-300 rounded-md focus:ring-gray-500 focus:border-gray-500 placeholder-gray-400"
  [placeholder]="field.placeholder"
  [attr.maxlength]="field.maxLength"
/>
}

<!-- NUMBER -->
@if (field.fieldType === FieldType.NUMBER && checkers.isNumberField(field)) {
<label [for]="field.fieldId" class="block text-md font-medium text-gray-900 mb-1">
  {{ field.label }}
</label>
<input
  [id]="field.fieldId"
  type="text"
  class="mt-1 block w-full bg-gray-50 p-2 pr-14 border border-gray-300 rounded-md focus:ring-gray-500 focus:border-gray-500 placeholder-gray-400"
  [placeholder]="field.placeholder"
  [attr.maxlength]="field.maxLength"
/>
}

<!-- EMAIL -->
@if (field.fieldType === FieldType.EMAIL && checkers.isEmailField(field)) {
<label [for]="field.fieldId" class="block text-md font-medium text-gray-900 mb-1">
  {{ field.label }}
</label>
<input
  [id]="field.fieldId"
  type="email"
  class="mt-1 block w-full bg-gray-50 p-2 pr-14 border border-gray-300 rounded-md focus:ring-gray-500 focus:border-gray-500 placeholder-gray-400"
  [placeholder]="field.placeholder"
  [attr.maxlength]="field.maxLength"
/>
}

<!-- RADIO FIELD -->
@if (field.fieldType === FieldType.RADIO && checkers.isRadioField(field)) {
<label class="block text-md font-medium text-gray-900 mb-2">
  {{ field.label }}
</label>
<div class="flex gap-2" [ngClass]="field.col ? 'flex-col' : 'flex-row'">
  @for (option of field.options; track $index) {
  <label
    class="cursor-pointer select-none flex items-center px-3 py-2 border rounded-full text-gray-700 bg-gray-100 hover:bg-gray-300 transition-all duration-75"
  >
    <input
      type="radio"
      [name]="field.fieldId"
      [value]="option.value"
      class="appearance-none w-5 h-5 rounded-full border border-gray-400 checked:bg-blue-600 checked:border-blue-600 transition duration-75 ease-in-out mr-3 flex-shrink-0"
    />
    <span>{{ option.label }}</span>
  </label>
  }
</div>
}

<!-- CHECKBOX -->
@if (field.fieldType === FieldType.CHECKBOX && checkers.isCheckboxField(field)) {
<label class="block text-md font-medium text-gray-900 mb-2">
  {{ field.label }}
</label>
<div class="grid grid-cols-2 gap-2">
  @for (option of field.options; track $index) {
  <label
    class="flex items-center gap-3 px-3 p-2 rounded-lg border border-gray-300 cursor-pointer hover:bg-gray-50 transition select-none"
  >
    <input type="checkbox" [name]="field.fieldId" [value]="option.value" class="peer hidden" />

    <span
      class="flex items-center justify-center w-4 h-4 mr-2 rounded border border-gray-400 bg-gray-100 peer-checked:bg-blue-600 peer-checked:border-blue-600 transition-all duration-75"
    >
      <svg
        class="w-3 h-3 text-white opacity-0 peer-checked:opacity-100 transition pointer-events-none"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="3"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <polyline points="20 6 9 17 4 12"></polyline>
      </svg>
    </span>
    <span class="text-gray-800">{{ option.label }}</span>
  </label>
  }
</div>
}

<!-- SELECT -->
@if (field.fieldType === FieldType.SELECT && checkers.isSelectField(field)) {
<label class="block text-md font-medium text-gray-900 mb-2"> {{ field.label }} </label>
<select
  class="mt-1 block w-full bg-gray-50 p-2 border-1 border-gray-300 rounded-md focus:ring-gray-500 focus:border-gray-500 placeholder:text-gray-400"
>
  <option [value]="null" disabled selected class="text-gray-800">
    {{ field.placeholder && field.placeholder.length > 0 ? field.placeholder : '---' }}
  </option>
  @for (option of field.options; track $index) {
  <option [value]="option.value" class="text-gray-800">
    {{ option.label }}
  </option>
  }
</select>
}

<!-- PHONE FIELD -->
@if (field.fieldType === FieldType.PHONE && checkers.isPhoneField(field)) {
<label [for]="field.fieldId" class="block text-md font-medium text-gray-900 mb-1">
  {{ field.label }}
</label>
<input
  [id]="field.fieldId"
  type="text"
  class="mt-1 block w-full bg-gray-50 p-2 pr-14 border border-gray-300 rounded-md focus:ring-gray-500 focus:border-gray-500 placeholder-gray-400"
  [placeholder]="field.placeholder"
  [attr.maxlength]="field.maxLength"
  [pattern]="field.pattern"
/>
}

<!-- DATE -->
@if (field.fieldType === FieldType.DATE && checkers.isDateField(field)) {
<app-renderer-date [field]="field" [formGroupIn]="formGroupIn" />
}

<!-- BIRTHDAY -->
@if (field.fieldType === FieldType.BIRTHDAY && checkers.isBirthdayField(field)) {
<app-renderer-birthday [field]="field" [formGroupIn]="formGroupIn" />
}

<!-- TEXTAREA -->
@if (field.fieldType === FieldType.TEXTAREA && checkers.isTextareaField(field)) {
<app-renderer-textarea [field]="field" [formGroupIn]="formGroupIn" />
}

<!-- ADDRESS -->
@if (field.fieldType === FieldType.ADDRESS && checkers.isAddressGroup(field)) {
<app-renderer-address [group]="field" [formGroupIn]="formGroupIn" />
}

<!-- NAME -->
@if (field.fieldType === FieldType.NAME && checkers.isNameGroup(field)) {
<app-renderer-name app-renderer-name [group]="field" [formGroupIn]="formGroupIn" />
}
