<form [formGroup]="formGroup">
  <!-- TEXT FIELD -->
  @if (field.type === HTMLType.TEXT) {
  <label [for]="field.id" class="block text-md font-medium text-gray-900 mb-1">
    {{ field.label }}
  </label>
  <input
    [id]="field.id"
    type="text"
    class="mt-1 block w-full bg-gray-50 p-2 pr-14 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500 placeholder-gray-400"
    [placeholder]="field.placeholder"
  />
  }

  <!-- RADIO FIELD -->
  @if (field.type === HTMLType.RADIO) {
  <label class="block text-md font-medium text-gray-900 mb-2">
    {{ field.label }}
  </label>
  <div class="flex flex-col gap-2">
    @for (option of field.options; track $index) {
    <label
      class="cursor-pointer select-none flex items-center px-3 py-2 border rounded-full text-gray-700 bg-gray-100 hover:bg-gray-200 transition-all duration-150 focus-within:ring-2 focus-within:ring-blue-500"
    >
      <input
        type="radio"
        [name]="field.id"
        [value]="option.value"
        class="appearance-none w-5 h-5 rounded-full border border-gray-400 checked:bg-blue-600 checked:border-blue-600 transition duration-150 ease-in-out mr-3 flex-shrink-0"
      />
      <span>{{ option.label }}</span>
    </label>
    }
  </div>
  }

  <!-- CHECKBOX -->
  @if (field.type === HTMLType.CHECKBOX) {
  <label class="block text-md font-medium text-gray-900 mb-2">
    {{ field.label }}
  </label>
  <div class="flex flex-col gap-2">
    @for (option of field.options; track $index) {
    <label
      class="flex items-center gap-3 p-3 rounded-lg border border-gray-300 cursor-pointer hover:bg-gray-50 transition select-none"
    >
      <input type="checkbox" [name]="field.id" [value]="option.value" class="peer hidden" />

      <span
        class="relative flex items-center justify-center w-6 h-6 rounded-md border border-gray-400 peer-checked:bg-blue-600 peer-checked:border-blue-600 transition"
      >
        <svg
          class="w-4 h-4 text-white opacity-0 peer-checked:opacity-100 transition pointer-events-none"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="4"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <polyline points="20 6 9 17 4 12"></polyline>
        </svg>
      </span>
      <span class="text-gray-800">{{ option.label }}</span>
    </label>
    }
  </div>
  }

  <!-- SELECT -->
  @if (field.type === HTMLType.SELECT) {
  <label class="block text-md font-medium text-gray-900 mb-2"> {{ field.label }} </label>
  <select
    class="mt-1 block w-full bg-gray-50 p-2 border-1 border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500 placeholder:text-gray-400"
  >
    <option [value]="null" disabled selected class="text-gray-800">
      {{ field.placeholder && field.placeholder.length > 0 ? field.placeholder : '---' }}
    </option>
    @for (option of field.options; track $index) {
    <option [value]="option.value" class="text-gray-800">
      {{ option.label }}
    </option>
    }
  </select>
  }

  <!-- DATE -->
  @if (field.type === HTMLType.DATE) {
  <app-renderer-date-field [field]="field" [formGroup]="formGroup" />
  }
</form>
