<aside
  cdkDropList
  id="palette"
  [cdkDropListConnectedTo]="['form-drop', 'group-drop']"
  cdkDropListSortingDisabled
  cdkDropListHasAnchor
  class="text-white flex flex-col gap-3"
>
  <div class="ml-3">Field Types</div>
  @for (icon of factoryIconsBasic; track icon) {
    <app-ui-type-icon
      [factoryIcon]="icon"
      cdkDrag
      (cdkDragMoved)="onMove($event)"
      [cdkDragData]="icon.factoryType"
    >
      <div class="sidebar-placeholder" *cdkDragPlaceholder></div>
    </app-ui-type-icon>
  }
  <div class="ml-3">Quick Picks</div>
  @for (icon of factoryIconsComplex; track icon) {
    <app-ui-type-icon [factoryIcon]="icon" cdkDrag [cdkDragData]="icon.factoryType">
      <div class="sidebar-placeholder" *cdkDragPlaceholder></div>
    </app-ui-type-icon>
  }
</aside>
