<div
  cdkDropList
  [id]="`group-drop-${node.nodeId}`"
  (cdkDropListDropped)="onDrop($event)"
  (cdkDropListEntered)="hideEmptyMessage$.set(true)"
  (cdkDropListExited)="hideEmptyMessage$.set(false)"
  class="flex flex-col"
>
  <!-- Label -->
  <app-builder-prop-label [labelMessage]="'Give your group a name...'" />
  <!-- Child nodes -->
  <!-- This component acts as intermediary for delete emission from child node component to parent node component -->
  @if (!node.nodes.length && !hideEmptyMessage$()) {
    <div class="text-gray-400 px-3 mb-4" animate.enter="">No fields to display</div>
  }
  @for (child of node.nodes; track child.nodeId) {
    <div
      [formGroup]="getFormGroup(child.nodeId)"
      animate.enter="group-enter-animation"
      animate.leave="group-leave-animation"
      class="mb-4"
    >
      <app-builder-node-child
        [node]="child"
        [nodeList]="node.nodes"
        [nodeFormGroup]="getFormGroup(child.nodeId)"
        (nodeDeletedEM_N)="childNodeDeleteCleanup($event)"
      />
    </div>
  }
</div>
